.counter {
    background-color: rgb(2, 124, 114);
    color: aliceblue;
    margin: auto;
}

.btnAdd {
    min-width: 100px;
    height: 40px;
    background-color: aqua;
    border-radius: 15px;
    border: none;
    margin: 10px;
    padding: 2px 25px;
}