.cardHeaderBlue {
    background-color: var(--color1);
    padding: 20px 30px;
    color: azure;
}

.cardBodyBlue {
    display: flex;
    flex-direction: column;
    background-color: var(--color1_2);
}

.cardHeaderGreen {
    background-color: var(--color2);
    padding: 20px 30px;
    color: azure;
}

.cardBodyGreen {
    display: flex;
    flex-direction: column;
    background-color: var(--color2_2);
}

.cardHeaderPink {
    background-color: var(--color3);
    padding: 20px 30px;
    color: azure;
}

.cardBodyPink {
    display: flex;
    flex-direction: column;
    background-color: var(--color3_2);
}

.cardHeaderBlack {
    background-color: var(--color4);
    padding: 20px 30px;
    color: azure;
}

.cardBodyBlack {
    display: flex;
    flex-direction: column;
    background-color: var(--color4_2);
}

.cardMoney {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 15px;
    color: azure;
}

.cardPrice {
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
    color: azure;
}

.text {
    font-size: 1.5rem;
    font-weight: 600;
}

.cardFooter {
    background-color: aliceblue;
    padding: 10px 0 0 0;
}

.cardNote {
    background-color: rgb(192, 192, 192);
    padding: 15px;
}

.tarif {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px 2px;
    height: 310px;
}

.activeTarif {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 6px 2px;
    min-width: 25%;
    height: 330px;
    z-index: 10;
    box-shadow: 0px 4px 5px 9px rgba(97, 97, 97, 0.64);
}