.tarif {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px 2px;
    height: 310px;
}

.active {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 6px 2px;
    min-width: 25%;
    height: 330px;
    z-index: 10;
    box-shadow: 0px 4px 5px 9px rgba(97, 97, 97, 0.64);
}